name: Devious Client CI

on:
  push:
    branches: [master, main, development, experimental]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 11
          cache: gradle
      - name: Make gradlew executable
        run: chmod +x ./gradlew
      - name: Build
        run: ./gradlew build --stacktrace -x test -x checkstyleMain -x checkstyleTest -x pmdMain -x pmdTest --console=plain

  checkstyle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 11
          cache: gradle
      - name: Make gradlew executable
        run: chmod +x ./gradlew
      - name: Checkstyle
        run: ./gradlew checkstyleMain --console=plain
