name: Gradle Workflow

on:
  workflow_call:
    inputs:
      tasks:
        required: true
        type: string

jobs:
  run-gradle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '11'
      - name: Cache Gradle
        uses: gradle/gradle-build-action@v3
      - name: Run Gradle
        run: ./gradlew ${{ inputs.tasks }} --console=plain
